<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" sizes="16x16" href="/icon/favicon.ico">
        <script src="/js/login.js" defer></script>
    </head>
    <body>
        <h1>Login</h1>
        <form id="login-form">
            <div class="form-item">
                <label for="username" class="label">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-item">
                <label for="password" class="label">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="auth-button">Login</button>
        </form>
        <hr>
        <div>
            未登録ですか？ → <a href="/register">ユーザー登録する</a>
        </div>
    </body>
</html>

